body: {
  background-image: url("./media/bdaycake.png");
  background-repeat: repeat;
}

p {
  text-align: center;
}

#count-tracker: {
  font-size: 40px;
}

[id^=dad] {
  position: absolute;
  z-index:1;
  border; 1px solid black;
  width: 200px;
  height: 200px;
}
